/* always add in your universal reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  /* border:1px solid rgb(200,200,200); */
}

/* here we're fixing a gridlex bug to get rid of any weird white margins that you don't want */
[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}


/* end of universal reset */

nav{
  text-align:center;

}

nav a{
  text-decoration:none;
  color:inherit;
  padding:0.5rem;
  display:in-line block;
  border: 1px solid black;
}

/* For the whole page */
body{
  font-family: 'macho', sans-serif;
}
h3 {
  font-weight:400;
}
h2{
  font-weight: 700;
  font-size:1.75rem;
}

h1{
  color:white;
  font-size:70px;
}

p{
  font-size:15px;
}

/* header */
header {
background-color:#182b36;
  background-image: url("mattress-images/gilles-lambert-249996.jpg");
  background-size:cover;
  background-position:center;
  padding: 18%;
  text-align:center;
  color: white;
}

header h1{
  line-height:1;
}

header h3{
  letter-spacing: 2.9px;
  font-size: 1.75rem;
}
/* div images */

.squares div {
  padding: 7%;
}
.dog-pic {
  background-image: url("mattress-images/charles-deluvio-351207.jpg");
  background-size:cover;
  background-position:50% 38%;
  min-height: 400px;
  max-height: 430px;
  max-width: 430px;
}

.mattress-pic{
  background-image: url("mattress-images/rhema-kallianpur-275251.jpg");
  background-size:cover;
  background-position:center;
  min-height: 400px;
  max-height: 430px;
  max-width: 430px;
}

/*   DOG AND MATTRESS MOBILE VERSION */

.mobile-version div {
  padding: 7%;
}
.dog-pic-mobile {
  background-image: url("mattress-images/charles-deluvio-351207.jpg");
  background-size:cover;
  background-position:50% 38%;
  min-height: 400px;
  max-height: 430px;
  max-width: 430px;
}

.mattress-pic-mobile {
  background-image: url("mattress-images/rhema-kallianpur-275251.jpg");
  background-size:cover;
  background-position:center;
  min-height: 400px;
  max-height: 430px;
  max-width: 430px;
}

/* GOOD NIGHT SECTION */
.goodnight {
  background-color:#ecb100;
  background-image: url("mattress-images/joanna-kosinska-129039.jpg");
  background-size:cover;
  background-position:50% 38%;
  padding:10%;
  text-align:center;
}

.goodnight h1{
  color: black;
  line-height:70px;
}

.goodnight span{
  color:white;
}

/* QUOTE SECTION */

.quote {
  padding:8%;
}


.quote p{
  text-align:right;
  color:grey;
}

.quote h1{
  color:grey;
}

.quote2{
  text-align:right;
}

.quote4{
  padding:0;
}
/* FEATURES SECTION */
.features {
  background-color:#182b36;
  padding:7%;
  color:white;
  text-align:center;
}

.features i{
  text-align:center;
  padding-bottom: 10%;
  padding-top: 7%;
}

.features div{
  padding:3%;
}

.features p{
  text-align:left;
}

.title-features{
  text-align: center;
  color: white;
}

/* FOOTER SECTION  */
/* how do I make the let's connect have less spacing in b/w */

footer{
  background-color: #182b36;
  padding: 6%;
}


.foot h3{
  padding:0;
  margin:0;
}

.foot h1{
  line-height: 40px;
}

.foot p{
  font-size:15px;
  padding-top: 10%;
  padding-right:15%;
  font-weight:100;
  line-height:20px;
}

.contact-form{
  margin:auto;
  border-radius: 10%;
  width:90%;
}

.contact-button{
  background-color:#ecb100;
  border: none;
  border-radius: 2px;
  color: white;
}

input {
  width:100%;
  padding: 3%;
  margin:3px 0;
  border:none;
  border-radius: 2px;
  font-size: 15px
}

textarea{
  width:100%;
  resize: none;
  padding: 3%;
  margin: 3px 0;
  border:none;
  border-radius: 2px;
  color: grey;
  font-size:15px;
}

/* MISC */

span{
  color: #ecb100;
}


/* MEDIA QUERIES */

@media(max-width:1280px) {
  .mobile-version{
    display:none;
  }
}

@media (max-width:768px){
  .squares{
    display:none;
  }
  .mobile-version{
    display:block;
  }

  /* .mobile-start{
    order:-1; */
  }
}
